body{
  color:#333;
  font-family: "Microsoft YaHei";
  background: rgba(153,153,153,.09999999999999998);
}
#con{
  font-size:18px;
  color:#666;
  #main-wrapper {
    background: url(../images/bg.png);
    border-bottom: 1px solid rgb(225, 225, 225);
  }
  .main{
    width:1024px;
    margin:auto;
    padding-top: 60px;
    text-align: left;
    padding: 2em 0;
    position: relative;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 1;
    filter: alpha(opacity=100);
    overflow: visible;
    line-height: 1.3em;
<<<<<<< HEAD
=======
    font-family: "Ubuntu Mono",monospace;
>>>>>>> 84007d3eef521154fefa98ae84d43cad74fd6cdc
    white-space: -moz-pre-wrap!important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    span {
        padding: .1em 0;
<<<<<<< HEAD
        &.return {
=======
        .return {
>>>>>>> 84007d3eef521154fefa98ae84d43cad74fd6cdc
            visibility: hidden;
            outline: none!important;
            background-color:#fff!important;
            &:before{
              background-color: #ffc40d!important;
              content: '\23CE';
              color: #fff!important;
              padding: 0 .5em;
            }
            &.char-active{
              visibility: visible;
            }
            &.incorrect{
              visibility: visible;
            }
        }
        &.char-active {
          color:#38cf1a;
            -webkit-animation:bottom_flash 0.8s infinite linear;
        }
<<<<<<< HEAD
        &.incorrect{
          visibility: visible;
          color: #e63d3d;
        }
=======
>>>>>>> 84007d3eef521154fefa98ae84d43cad74fd6cdc
    }
    .c {
        color: #ccc!important;
    }
    
    pre{
        display: block;
        font-family: 'Ubuntu Mono', monospace;
        white-space: pre;
        color:#737373;
        
    }
<<<<<<< HEAD
    .main-footer{
      margin: 50px 0;
      .pageing{
        float: left;
        span{
          cursor: pointer;
          margin-right: 20px;
        }
      }
      .time{
        float: right;
      }
    }
    
=======
    .pageing{
       margin: 50px 0;
       span{
        margin-right: 50px;
        cursor: pointer;
       }
    }
>>>>>>> 84007d3eef521154fefa98ae84d43cad74fd6cdc
    input{
        background:transparent;
        border:none;
        position:fixed;
        left:0;
        top:50%;
        &:focus{
          background:transparent;
          border:none;
          outline:medium;
          opacity:0;
        }
      }
  }
  .time{
<<<<<<< HEAD
    span{
      margin-left:20px;
    }
=======
    position:fixed;
    right:5%;
    bottom:5%;
    font-size:24px;
    span{
      margin-left:20px;
    }
    a{
      position: relative;
        top: 2px;
        display:inline-block;
        width:30px;
        height:30px;
        color:#38cf1a;
    }
>>>>>>> 84007d3eef521154fefa98ae84d43cad74fd6cdc
  }
}


@-webkit-keyframes bottom_flash {
  0%{
    border-bottom:3px solid #40be27;
  }
  100%{
    border-bottom:0;
  }
}